#container {
  width: 600px;
  border: none;
  margin: 0 auto;/*가로중앙정열*/
  padding: 0;
}
div {
  border: 1px solid #222;
  margin: 30px auto;
  padding: 20px;
}
table, th, td {
  border: 1px solid #222;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
.patang {
  background-color: #ccc;
}
.accent {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
#description {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#package {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}