#container {
  width: 600px;
  border: none;
  margin: 0 auto;/*가로중앙정열*/
}
div {
  border: 1px solid #222;
}
table, th, td {
  border: 1px solid #222;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
.patang {
  background-color: #ccc;
}
.accent {
  font-weight: bold;
}
.italic {
  font-style: italic;
}