/* css 파일은 <style></style> 태그 안에 기록된다고 생각하고 코드를 작성하시면 됩니다 */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


/* 전체 설정 */
* {
  margin: 0; /* 전체 외부여백 0 */
  padding: 0; /* 전체 내부여백 0 */
  box-sizing: border-box; /* 박스영역 테두리까지 */
}

/* a태그 밑줄글씨 제거 */
a {
  text-decoration: none;
}

/* ul 태그 블릿 없앰 */
ul {
  list-style: none;
}

.container {
  margin: 0 auto; /* 가운데 정렬 */
  width: 1200px;
}

/* 헤더 */
header {
  width: 100%;/* .container width:1200px */
  height: 100px;
  background-color: blue;
}
/* 로고 */
#logo {
  width: 250px;
  height: 100px;/*header 와 동일 */
  /*background-color: violet;*/
  float: left;/* #logo nav를 한줄에 배치 : logo는 왼쪽에 */
  line-height: 100px;/* h1태그가 세로 중앙에 오도록 설정 */
  padding-left: 10px;
}
#logo a h1 {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
  font-size: 40px;
}
/* 네비게이션 */
nav {
  width: 900px;
  height: 100px; /*header 와 동일 */
/*  background-color: green; */
  float: right;/* #logo nav를 한줄에 배치 : nav는 오른쪽에 */
  padding-top: 50px;
}
#topMenu {
  height: 50px;
}
#topMenu > li {
  float: left;
  position: relative;
}
#topMenu > li > a {
  /* 메인메뉴 4가지 */
  display: block;
  color: #fff;
  font-weight: 700;/*bold*/
  text-shadow: 0 1px #07c;
  padding: 10px 60px;
}
#topMenu > li > a:hover {
  /* 마우스 커서가 메뉴위로 올라왔을때 */
  color: #000;
  text-shadow: 0 -1px #07c;
}
/* 서브메뉴 */
#topMenu > li > ul {
  display: none; /* 처음에는 안보이도록 */
  position: absolute; /* 절대위치 */
  width: 160px;
  background-color: rgba(255,255,255,0.6);/* 약간 비치도록 만들어 줍니다*/
  left: 20px;
  margin: 0;
}
/* 서브메뉴 위치 */
#topMenu > li > ul > li {
  padding: 10px 10px 10px 30px;
}
/* 서브메뉴 기본색상 */
#topMenu > li > ul > li > a {
  color: #000;
  padding: 10px;
  font-size: 14px; /* 원래크기 16px */
}
/* 서브메뉴 : 마우스 올라올때 색상변경 */
#topMenu > li > ul > li > a:hover {
  color: red;/* #f00 */
}
/* 메인메뉴에 마우스 올라올때 서브메뉴 보이도록 */
#topMenu > li:hover > ul {
  display: block;
  z-index: 10; /*서브메뉴가 위로 올라오도록 */
}

/* 이미지 슬라이드 쇼 */
#slideShow {
  clear: both;/* 플로팅 해제 */
  width: 100%;/* 부모태그인 .container의 width:1200px */
  height: 300px;
/*  background-color: orange; */
  position: relative;
  overflow: hidden;/* 영역이 넘치면 감춤 */
}
#slides {
  position: absolute;
}
#slides > img {
  width: 100%;
  float: left; /* 가로로 배치 */
}
button {
  clear: both;
  position: absolute;
  height: 300px;  /* 300px */
  top: 0;
  border: none; /* 테두리없이 그림만 보여줍니다. */
  padding: 20px;
  background-color: transparent;  /* 투명 배경 */
  color: #000;  /* 화살표 컬러 */
  font-weight: 800;
  font-size: 24px;
  opacity: 0.5; /* 반투명 */
}
#prev { /* 이전 버튼 */
  left: 0;
}
#next { /* 다음 버튼 */
  right: 0;
}
button:hover {
  background-color: #222;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
/* 본문 */
#contents {
  width: 100%; /* .container의 width: 1200px */
  height: 300px;
}
#tabMenu {
  width: 600px;
  height: 300px; /* 부모태그와 동일 */
/*  background-color: pink; */
  float: left;
}
#tabMenu input[type='radio'] {
  display: none; /* 라디오버튼을 감춥니다 */
}
/* 탭제목 스타일 지정 */
#tabMenu label {
  display: inline-block;
  margin: 0;
  padding: 15px 25px;
  font-weight: 700;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}
/* 탭제목에 마우스 올라갈 때 */
#tabMenu label:hover {
  color: #222;
  cursor: pointer;
}
/* input태그중 checked되어있는 element 옆에 있는 label 중 처음만나는 element */
#tabMenu input:checked + label {
  color: #b00;
  border: 1px solid #bbb;
  background-color: #eee;
}
.tabContents {
  padding: 20px 0 0 0;
  border-top: 1px solid #ddd;
  display: none;/* 처음에 안보이도록 */
}
#notice ul {
  list-style: disc;
  margin-left: 30px;
}
#notice ul li {
  line-height: 2.5;
  font-size: 16px;
}
#gallery ul li {
  display: inline;/* 옆으로 배치 */
}
.tabContents h2 {
  display: none;
}
#tab1:checked ~ #notice, #tab2:checked ~ #gallery {
  display: block;
}
#links {
  width: 600px;
  height: 300px;
  background-color: aqua;
  float: right;
}
footer {
  width: 100%;
  height: 100px;
  background-color: gray;
}