/* css 파일은 <style></style> 태그 안에 기록된다고 생각하고 코드를 작성하시면 됩니다 */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


/* 전체 설정 */
* {
  margin: 0; /* 전체 외부여백 0 */
  padding: 0; /* 전체 내부여백 0 */
  box-sizing: border-box; /* 박스영역 테두리까지 */
}

/* a태그 밑줄글씨 제거 */
a {
  text-decoration: none;
}

.container {
  margin: 0 auto; /* 가운데 정렬 */
  width: 1200px;
}

/* 헤더 */
header {
  width: 100%;/* .container width:1200px */
  height: 100px;
  background-color: blue;
}
/* 로고 */
#logo {
  width: 250px;
  height: 100px;/*header 와 동일 */
  /*background-color: violet;*/
  float: left;/* #logo nav를 한줄에 배치 : logo는 왼쪽에 */
  line-height: 100px;/* h1태그가 세로 중앙에 오도록 설정 */
  padding-left: 10px;
}
#logo a h1 {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
  font-size: 40px;
}
/* 네비게이션 */
nav {
  width: 900px;
  height: 100px; /*header 와 동일 */
  background-color: green;
  float: right;/* #logo nav를 한줄에 배치 : nav는 오른쪽에 */
}
/* 이미지 슬라이드 쇼 */
#slideShow {
  clear: both;/* 플로팅 해제 */
  width: 100%;/* 부모태그인 .container의 width:1200px */
  height: 300px;
  background-color: orange;
}
#contents {
  width: 100%; /* .container의 width: 1200px */
  height: 300px;
}
#tabMenu {
  width: 600px;
  height: 300px; /* 부모태그와 동일 */
  background-color: pink;
  float: left;
}
#links {
  width: 600px;
  height: 300px;
  background-color: aqua;
  float: right;
}
footer {
  width: 100%;
  height: 100px;
  background-color: gray;
}